.window-close:hover{
    background-color: red;
    color: white;
}
.window-close:active{
    opacity: 0.6;
}
.warning-div{
    position: absolute;
    top: 30%;
    left: 15%;
    transform: translate(-50%,-50%);
    width: 70px;
    height: 70px;
}
.warning-image{
    height: 150%;
}