.window-close{
    position: absolute;
    top: 5.5%;
    left: 93.8%;
    transform: translate(-50%,-50%);
    width: 62px;
    height: 32px;
    background-color: transparent;
    color: black;
    opacity: 1;
    transition: background-color 0.5s ease,
    color 0.5s ease,
    opacity 0.5s ease;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}